<?php

return ['bjyauthorize' => [
    'guards' => [
	'BjyAuthorize\Guard\Route' => [
            [
                'route' => 'search',
                'roles' => ['guest', 'admin'],
            ],
        ],
    ],
]];
